html {
  min-height:100%;
}

body {
  height: 100%;
  overflow-y: hidden;
}

.App {
  text-align: center;
  color: white;
}

.Channel {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #292c2f;
}

::-webkit-scrollbar-thumb {
  background: #202020;
}
