.create-channel {
    position: absolute;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    background-color: white;
    border-radius: 15px;
}

.create-channel-close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    height: 2rem;
    width: 2rem;
    font-size: larger;
    background: none;
    border: solid 2px black;
    border-radius: 50%;
}
.create-channel-input-container {
    position: absolute;
    top:0;
    left: 0;
    margin-top: 4rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
}
.create-channel-input {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    height: 2rem;
    width: 16rem;
    box-shadow: black 2px 2px;
    font-size: larger;
}

.create-channel-create-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    color: white;
    background-color: #3ba55d;
    border-radius: 3px;
    border: #3ba55d;
    height: 2.5rem;
    width: 6rem;
    font-size: larger;
    opacity: 0.8;
}

.create-channel-create-button:hover {
    cursor: pointer;
    opacity: 1.0;
}

.channel-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.746);
}

.delete-channel {
    position: absolute;
    top: 40%;
    left: 40%;
    height: 20%;
    width: 20%;
    background-color: #202020;
    border-radius: 15px;
}

.popupbox-btn {
    margin: 1rem;
    height: 2.5rem;
    width: 6.0rem;
    font-size: larger;
    background-color: grey;
    padding: 0;
    border: none;
    color: #fff;
    border-radius: 3px;
}

.popupbox-btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

.popupbox-btn-red {
    background-color: brown;
}

.delete-channel p {
    margin: 1rem;
    font-size: medium;
    color: white;
}