.Friends {
    height: 100%;
    width: 100%;
}
.Friends-Top-Bar {
    border-bottom: 2px solid #000000;
    height: 3.5rem;
    line-height: 3.5rem;
    width: 100%;
    text-align: left;
}

.Friends-Top-Bar-Button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: larger;
    color: lightgrey;
    background-color: #2c2f33;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.FTB-AddButton {
    color: limegreen;
}

.Friends-Top-Bar-Button:hover {
    background-color: #393d42;
}

.Friends-List-Title {
    font-size: medium;
    color: lightgrey;
    margin-left: 1rem;
    text-align: left;
}

.Friends-List {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.Friend {
    height: 3rem;
    width: 80%;
    margin-left: 10%;
    line-height: 3rem;
    align-self: center;
    border-top: 1px solid gray;
    text-align: left;
    display: flex;
}
.Friend-User {
    display: flex;
    width: 50%;
}

.Friend-Avatar {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin: 0.5rem;
}

.Friend-Name {
    align-self: center;
    font-size: larger;
    color: darkgrey;
    margin-left: 0.5rem;
}

.Friend-Actions-Container {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.Friend-Actions {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin: 0.5rem;
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: #202020;
    opacity: 0.5;
    color: lightgray;
}

.Friend:hover .Friend-Actions {
    opacity: 1;
}

.Friend-Actions-Accept {
    color: limegreen;
}

.Friend-Actions-Decline {
    color: red;
}