.Login {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    min-height: 30rem;
    background-color: #23272a;
}

#login-input{
    width: 16rem;
    height: 3rem;
    border: none;
    margin: 0.5rem;
    background-color: #2c2f33;
    color: aliceblue;
    font-size: larger;
}

#login-button {
    width: 70%;
    height: 3rem;
    margin: 1rem;
    border: none;
    background-color: #7289da;
    color: aliceblue;
    font-size: larger;
}
#login-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

@media only screen and (max-width: 425px) {
    .Login {
        background-color: #23272a;
    }
}