.profile-box {
    position: absolute;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    background-color: #202020;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.profile-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    width: 35px;
    background-color: #000000;
    border-radius: 50%;
    border: none;
    color: #202020;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    margin: 1rem;
}

.profile-close-btn:hover {
    background-color: #ff0000;
}

.profile-close-btn:active {
    background-color: #ff0000;
}

.profile-img {
    /*position: absolute;
    top: 0;
    left: 0;
    margin: 3rem;*/
    object-fit: cover;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
}
.profile-box {
 flex: 2;
}